!!!
.wrapper
  .sidebar
    = render 'parts/sidebar'
  .main.clearfix
    .main__wrapperForHeader
      .header.clearfix
        .header__left
          %p.current-group
            = @group.name
          .members
            %p.member
              - @group.group_users.each do |group_user|
                %li.member__name
                  = group_user.user.name
        .header__right
          %a.button-edit Edit
    .main-wrapperForContents
      .messages
        = render @messages

    .form
    = render partial: 'form', locals: { message: @message }




