!!!
.sidebar__wrapperForHeader
  .header
    .header__user
      = current_user.name
    .header__menu
      %ul.header__menu-icons
        %li
          = link_to edit_user_path(current_user) do
            = fa_icon "cog"
        %li
          = link_to new_group_path(current_user) do
            = fa_icon "edit"
.sidebar-contents
  /仮置き
  .sidebar-contents__groups
    -current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message

